import com.obs.config.FiservPremierConfiguration
import com.obs.olm.Environment
import static com.obs.olm.Configuration.*
import com.obs.channels.fiserv.director.DirectorRetrievalUrlBuilder

////////////////////////////////////////////////////////////////////////////////
// Instance setup
////////////////////////////////////////////////////////////////////////////////

instance {
    publicUrl = 'https://citizenscert.olbanking.com'
    publicIp = '198.167.0.160'
    smsBankCode = 'CITZNT'
    bankName = "Citizens Business Bank CERT"
    mailSender = "citizenscert@olbanking.com"
    disableChannelSend = true
}

////////////////////////////////////////////////////////////////////////////////
// Tier Setup
////////////////////////////////////////////////////////////////////////////////

environment (Environment.Type.TEST) {
    app {
        modules = [ APP, ANALYTICS ]
        host = '10.111.60.110'
        maxHeapMemory="1024m"
    }
    dmz {
        modules = [ WEB, DMZ,FTP,FTPPUSH ]
        host = '10.110.60.110'
        blade = true
        wasp = true
    }
    comm {
        modules =  [ PREMIER, WEB, DIRECTORRETRIEVAL ,FUNDTECHWS]
        host = '10.115.60.110'
        webModules = ["WebServices"]
    }
    listener {
        modules = [ LISTENER ]
        user= 'root'
        host = '172.17.10.183'
        jmxPort = 6160
        jmxServicePort = 6360
    }
}

////////////////////////////////////////////////////////////////////////////////
// Wikid  Properties
////////////////////////////////////////////////////////////////////////////////

wikid {
    serverCode ="198167000160"
}



directorRetrieval {
    address = 'nt950ii3.dev2.cbb.com'
    useSSL = false
    checkImageCode = DirectorRetrievalUrlBuilder.ImageType.Check
    institutionNumber = '0'
}

fiservPremier {
    address = '172.17.41.1:21001'
    institutionNumber = '000'
    routingTransit = '122234149'
    companyIdentifier = FiservPremierConfiguration.IdentifierType.PORTNUM
    allowAccountAdd=true
}

webservices {
    FundTechWireWebService {
        address = 'http://192.168.128.152:16335'            // TODO: Put real URL here
        debug = true
    }
}





