import static com.obs.olm.Configuration.*
import com.obs.olm.Environment
import com.obs.channels.fiserv.director.DirectorRetrievalUrlBuilder
////////////////////////////////////////////////////////////////////////////////
// Instance setup
////////////////////////////////////////////////////////////////////////////////

instance {
    publicUrl = 'https://citizensqa.onlinebankingsolutions.com'
    publicIp = '172.23.10.60'
    smsBankCode = 'CITZNQ'
    bankName = "Citizens Business Bank QA"
    mailSender = "citizens@olbanking.com"
}

////////////////////////////////////////////////////////////////////////////////
// Tier  Setup
////////////////////////////////////////////////////////////////////////////////

environment (Environment.Type.QA) {
    app {
        modules = [ APP, ANALYTICS]
        host = '172.23.11.60'
    }
    dmz {
        modules = [ WEB, DMZ, FTPPUSH ]
        host = '172.23.10.60'
        wasp = true
    }
}



directorRetrieval {
    address = 'nt950ii3.dev2.cbb.com'
    useSSL = true
    checkImageCode = DirectorRetrievalUrlBuilder.ImageType.Check
    institutionNumber = '0'
}

////////////////////////////////////////////////////////////////////////////////
// Environment Configuration
////////////////////////////////////////////////////////////////////////////////

wikid {
    serverCode = "172023010060"
}